/* White div styling - (App) */
.App404Page {
  border-radius: 10px;
  padding: 20px !important;
  box-shadow: 0 0 2px black;
  animation-name: formAnimation;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: none;
  width: 400px;
}
@keyframes formAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App404Page p {
  font-size: 17px;
}
.App404Page span {
  font-weight: bold;
}
/* syling for submit button */
.App404Page button {
  width: 155px;
  height: 38px;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #001f3f;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.App404Page button:hover {
  background-color: rgb(16, 16, 255);
}
.App404Page button:focus {
  outline: none;
}

.App404Page .redirectDiv {
  display: flex;
  justify-content: flex-end;
}
/*changes for the mobile view for devices lower than 900px height and 500px width */
@media (max-width: 699px) {
  .App404Page {
    width: 90vw;
    
  }
}
