/* White div styling - (App) */
.AppForgetPass {
  background-color: white;
  height: auto;
  width: 380px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow:scroll;
  box-shadow: 0 0 2px black;
  animation-name: formAnimation;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: none;
}
@keyframes formAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.AppForgetPass label {
  font-weight: bold;
  margin-bottom: 5px;
}
/* GS Tech image styling */
.AppForgetPass img {
  margin-top: 30px;
  border-radius: 20%;
  height: 50px;
  width: 50px;
}
.AppForgetPass .wrongEmailAlert {
  padding-top:10px;
}
.AppForgetPass .form .form-group {
  margin-bottom: 5px;
}
.AppForgetPass h1 {
  font-family: "Slabo", serif;
  font-size: 23px;
  padding-top:12px;
}
.AppForgetPass .lockIcon {
  height: 80px;
  width: 80px;
}
.AppForgetPass .loginRedirect {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* general styling regarding the positioning of the form and the elements inside it*/
.AppForgetPass .form {
  margin-top: 20px;
  align-content: center;
}
/* syling for submit button */
.AppForgetPass .form button {
  width: 80%;
  height: 40px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #001f3f;
  font-size: 16px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 15px;
}
/* Styling for the RO/EN buttons */
.AppForgetPass .romanian,
.AppForgetPass .english {
  background-color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
}
/* Input fields styling  */
.AppForgetPass .emailInput input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  margin: 0 auto;
  padding-left: 30px;
  font-size: 15px;
}
.AppForgetPass .emailInput {
  position: relative;
  border-radius: 30px;
  width: 80%;
  align-content: center;
  margin: 0 auto;
}
/* position of the little icons insde the input fields for the id and password */
.AppForgetPass .emailInput .glyphicon {
  position: absolute;
  padding: 9px;
  padding-left: 9px;
  pointer-events: none;
  left: 0px;
  font-size: 18px;
}
/* Error messages display (appear under the inputs when validation is false)*/
.AppForgetPass .form span {
  color: red;
  font-size: 13px;
}
/* Recaptcha positioning */
.AppForgetPass .g-recaptcha {
  margin-top: 15px;
  display: inline-block;
}
/*display elements in column below captcha box */
.AppForgetPass .captchaContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*changes for the mobile view for devices lower than 900px height and 500px width */
@media only screen and (max-height: 900px) and (max-width: 500px) {
  .AppForgetPass {
    max-height: 100%;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    overflow-y: visible;
    margin-bottom: 2px;
  }
  .AppForgetPass h1 {
    font-size: 25px;
  }
  .AppForgetPass .emailInput {
    width: 80%;
  }
  .AppForgetPass .form button {
    margin-top: 35px;
    margin-bottom: 15px;
    width: 80%;
    height: 45px;
  }
  .AppForgetPass .g-recaptcha {
    transform: scale(0.9);
    transform-origin: 50% 0;
    margin-bottom: -5px;
    margin-top: 20px;
  }
}
